- name: create compose config folder
  file: path={{docker_compose_path}} mode=0755 state=directory owner=docker group=docker

- name: upload templates|bin directories
  #synchronize: src={{item}} dest="{{docker_containers_volume_path}}/api" delete=yes recursive=yes copy_links=yes #TODO: add dynamic files to mongodb?
  synchronize: src={{item}} dest="{{docker_containers_volume_path}}/api" recursive=yes copy_links=yes
  with_items:
    - bin
    - templates

- name: create service docker volume directories
  file: path={{docker_containers_volume_path}}/{{item}} state=directory
  with_items:
    - api/mongodb/data

- name: capture docker volume directories
  set_fact: docker_containers_volume_paths="{{docker_containers_volume_paths|default([])}} + ['{{docker_containers_volume_path}}/{{item}}']"
  with_items:
    - api/mongodb/data

- debug: var=docker_containers_volume_paths

- name: create api compose template
  template: src=api-{{api_wsgi}}.yml dest={{docker_compose_path}}/api-{{api_wsgi}}.yml

- name: deploy api stack
  command: docker stack deploy -c {{docker_compose_path}}/api-{{api_wsgi}}.yml api
  register: api_exec
  when:
    - inventory_hostname == docker_swarm_primary_manager

- debug: var=api_exec
